h1
{
  font-family: "Times New Roman", Times, serif;
}

em{
  font-family: "Lucida Console", Courier, monospace;
  font-size: 40px;
}

.style{
  font-family: 'PT Sans', sans-serif;
}

.formP
{
  padding-left:7%;
}
